
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EadProject.ViewModel.CustomerAdminViewModel

<div class="row">
    <h1 align="centerb">LOGIN</h1>
    <hr />
</div>
<br />

<div class="row">
    <div class="col-lg-6">
        <h1 style="color:green">Customer</h1>
        <br />
        @using (Html.BeginForm("CustomerIndex","Customer",FormMethod.Post))
        {
        <div class="form-horizontal">
            <div class="form-group">
             
                 @Html.LabelFor(a => a.C.CustomerName)
                 @Html.TextBoxFor(x => x.C.CustomerName, new { @class = "form-control input-lg", })
               
            </div>

            <div class="form-group">
                @Html.Label("Password", new { @class = " control-label" })
                @Html.TextBox("StudentFirstName", null, new { @class = "form-control " })
            </div>

            
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><b>Sign In</b></button>
                    </div>
             
        </div>
        }
    </div>
    <div class="col-lg-6">
        <h1 style="color:green">Admin</h1>
        <br />
        @using (Html.BeginForm("AdminIndex", "Admin", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">

                    @Html.LabelFor(a => a.A.Name)
                    @Html.TextBoxFor(x => x.A.Name, new { @class = "form-control input-lg", })

                </div>

                <div class="form-group">
                    @Html.Label("Password", new { @class = " control-label" })
                    @Html.TextBox("StudentFirstName", null, new { @class = "form-control " })
                </div>

                <div class="form-group">
                        <button type="submit" class="btn btn-success" ><b>Sign In</b></button>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<hr />
<div class="row">
    <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <div id="foobar">
        <footer>
            <ul>
                <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </footer>
    </div>
</div>











